language: cpp

sudo: false

compiler:
    - gcc
    - clang

install:
    - CMAKE_URL="http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz"
    - mkdir cmake_bin && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake_bin
    - export PATH=`pwd`/cmake_bin/bin:${PATH}

before_script:
    - mkdir build
    - cd build
    - cmake ..

script: make
